
<ion-header>
  <app-user-nav-menu></app-user-nav-menu>
</ion-header>


<ion-content padding>
  <ion-grid padding>
    <ion-row class="centerRow">
      <ion-col>
        <h2>Post Event</h2>
      </ion-col>
    </ion-row>
    <ion-row class="centerRow">
      <ion-col>
        <form #f="ngForm" class="formStyle">
          <ion-label stacked><strong>Event Name*</strong></ion-label>
          <ion-input class="inputStyle" type="text" name="eventName" ngModel required></ion-input>
          <ion-label stacked><strong>Location Title</strong></ion-label>
          <ion-input class="inputStyle" type="text" name="locationTitle" ngModel required></ion-input>
          <ion-label stacked><strong>Address*</strong></ion-label>
          <ion-input placeholder="Address Line One" class="inputStyle" type="text" name="eventAddress" ngModel required></ion-input>
          <ion-input placeholder="Address Line Two" class="inputStyle" type="text" name="eventAddressTwo" ngModel required></ion-input>
          <ion-label stacked><strong>City*</strong></ion-label>
          <ion-input class="inputStyle" type="text" name="eventCity" ngModel required></ion-input>
          <ion-label stacked><strong>State*</strong></ion-label>
          <ion-input class="inputStyle" type="text" name="eventState" ngModel required></ion-input>
          <ion-label stacked><strong>Zip Code*</strong></ion-label>
          <ion-input class="inputStyle" type="number" name="eventZip" ngModel required></ion-input>

          <div text-center>
            <!-- if event date has not been selected -->
            <div *ngIf="eventDate === ''">
              <button ion-button clear icon-start (click)="selectDate()" class="calendarBtnStyle">
                <ion-icon name="md-calendar"></ion-icon><label class="dateDisplayStyle">Tap to Enter Event Date*</label>
              </button>
            </div>
            <!-- if event date has been selected -->
            <div *ngIf="eventDate !=''">
              <button ion-button clear icon-only (click)="selectDate()" class="calendarBtnStyle">
                <ion-icon name="md-calendar"></ion-icon><label class="dateDisplayStyle"><strong>Date: {{eventDate | date:'mediumDate'}} {{eventDate | date:'shortTime'}} </strong></label>
              </button>
            </div>
          </div>
          <ion-label stacked><strong>Event Description</strong></ion-label>
          <ion-textarea class="inputStyle" type="text" name="eventDescription" ngModel></ion-textarea>
          <ion-item class="selectItemStyle">
            <ion-label stacked color="dark"><strong>Event Type:</strong></ion-label>
            <ion-select ngModel name="eventType">
              <ion-option value="rally">Rally/Protest</ion-option>
              <ion-option value="school">School Meeting</ion-option>
              <ion-option value="government">Government Meeting</ion-option>
              <ion-option value="internal">Internal Organization Meeting</ion-option>
              <ion-option value="informational">Informational Meeting</ion-option>
              <ion-option value="community">Community</ion-option>
              <ion-option value="activity">Independent Activity</ion-option>
            </ion-select>
          </ion-item>
          <ion-label stacked><strong>Website</strong></ion-label>
          <ion-input class="inputStyle" type="text" name="eventWebsite" ngModel></ion-input>
          <ion-label stacked><strong>Tags</strong></ion-label>
          <ion-searchbar
          placeholder="Search for other interests"
          [(ngModel)]="myInput"
          color="danger"
          showCancelButton
          name="interestSearch"
          (ionInput)="onInput($event)"
          (ionClear)="onCancel()"
          (ionCancel)="onCancel()"
          (ionBlur)="onBlur()"
          (ionFocus)="setSearchItems()"
          ></ion-searchbar>
          <ion-list>
            <button type="button" ion-item *ngFor="let item of searchArr" (click)="addTag(item)" >
              #{{ item }}
            </button>
          </ion-list>
            <ion-badge class="badgeStyle" *ngFor="let selectedTag of selectedTagsArr" (click)="addTag(selectedTag)">#{{selectedTag}}</ion-badge>
            <hr />
          <div text-center>
            <button *ngIf="!imageLoad" (click)="uploadPic()" ion-button icon-end color="light" class="picBtnStyle" small>Upload Pic +</button>
            <button [disabled]="true" *ngIf="imageLoad" ion-button color="success">Image loading...</button>
          </div>
          <div *ngIf="imageUploaded">
            <ion-card>
              <img [src]="placeImage" height="250">
            </ion-card>
          </div>
          <hr />
          <div text-center>
            <button [disabled]="!f.valid && !imageLoad && eventDate !=''" ion-button icon-end color="success" class="picBtnStyle" (click)="submitEvent(f)">Submit Event</button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
