page-org-post-event {
  .centerRow {
    align-items: center;
  }
  .inputStyle {
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }
  .selectItemStyle {
    padding: 0px;
  }
  .calendarBtnStyle {
   font-size: 25px;
   margin-top: 15px;
  }
  .dateDisplayStyle {
    color: black;
    font-size: 15px;
  }
  .picBtnStyle {
    margin-top: 10px;
  }
  .badgeStyle {
    margin-right: 3px;
    padding: 5px;
    margin-bottom: 4px;
    background: rgb(255,77,0);
  }
}
