
<ion-header>
  <logo-nav-menu></logo-nav-menu>
</ion-header>


<ion-content padding>
  <ion-grid padding>
    <ion-row class="centerRow">
      <ion-col>
        <h2 class="headerStyle">Post Event</h2>
      </ion-col>
    </ion-row>
    <ion-row class="centerRow">
      <ion-col>
        <form #f="ngForm" class="formStyle">
          <ion-input placeholder=" Event Name*" class="inputStyle" type="text" name="DisplayTitle" ngModel required></ion-input>
          <ion-input placeholder=" Location Title"  class="inputStyle" type="text" name="AddressDisplayName" ngModel></ion-input>
          <ion-input placeholder=" Street Address" class="inputStyle" type="text" name="StreetAddressOne" ngModel></ion-input>
          <ion-input placeholder=" Street Address Line Two" class="inputStyle" type="text" name="StreetAddressTwo" ngModel></ion-input>
          <ion-input placeholder=" City" class="inputStyle" type="text" name="City" ngModel required></ion-input>
          <ion-input placeholder=" State" class="inputStyle" type="text" name="State" ngModel required></ion-input>
          <ion-input placeholder=" Zip Code" class="inputStyle" type="number" name="ZipCode" ngModel required></ion-input>

          <div text-center>
            <!-- if event date has not been selected -->
            <div *ngIf="eventDate === ''">
              <button ion-button clear icon-start (click)="selectDate()" class="calendarBtnStyle">
                <ion-icon name="md-calendar"></ion-icon><label class="dateDisplayStyle">Tap to Enter Event Date*</label>
              </button>
            </div>
            <!-- if event date has been selected -->
            <div *ngIf="eventDate !=''">
              <button ion-button clear icon-only (click)="selectDate()" class="calendarBtnStyle">
                <ion-icon name="md-calendar"></ion-icon><label class="dateDisplayStyle"><strong>Date: {{eventDate | date:'mediumDate'}} {{eventDate | date:'shortTime'}} </strong></label>
              </button>
            </div>
          </div>
          <ion-textarea placeholder="Event Description" class="inputStyle" type="text" name="Description" ngModel></ion-textarea>
          <ion-item class="selectItemStyle">
            <ion-label stacked color="dark"><strong>Event Type:</strong></ion-label>
            <ion-select ngModel name="Category">
              <ion-option value="0">Rally/Protest</ion-option>
              <ion-option value="1">School Meeting</ion-option>
              <ion-option value="2">Government Meeting</ion-option>
              <ion-option value="3">Internal Organization Meeting</ion-option>
              <ion-option value="4">Informational Meeting</ion-option>
              <ion-option value="5">Community</ion-option>
              <ion-option value="6">Independent Activity</ion-option>
            </ion-select>
          </ion-item>
          <ion-label stacked><strong>Tags</strong></ion-label>
          <ion-searchbar
          placeholder="Search for other interests"
          [(ngModel)]="myInput"
          color="danger"
          showCancelButton
          name="interestSearch"
          (ionInput)="onInput($event)"
          (ionClear)="onCancel()"
          (ionCancel)="onCancel()"
          (ionBlur)="onBlur()"
          (ionFocus)="setSearchItems()"
          ></ion-searchbar>
          <ion-list>
            <button type="button" ion-item *ngFor="let item of searchArr" (click)="addTag(item)" >
              #{{ item.Name }}
            </button>
          </ion-list>
            <ion-badge class="badgeStyle" *ngFor="let selectedTag of selectedTagsArr" (click)="addTag(selectedTag)">#{{selectedTag.Name}}</ion-badge>
            <hr />
          <!-- <div text-center>
            <button *ngIf="!imageLoad" (click)="uploadPic()" ion-button icon-end color="light" class="picBtnStyle" small>Upload Pic +</button>
            <button [disabled]="true" *ngIf="imageLoad" ion-button color="success">Image loading...</button>
          </div>
          <div *ngIf="imageUploaded">
            <ion-card>
              <img [src]="placeImage" height="250">
            </ion-card>
          </div> -->

          <div text-center>
            <button [disabled]="!f.valid && !imageLoad && eventDate !=''" ion-button icon-end color="success" class="picBtnStyle" (click)="submitEvent(f)">Submit Event</button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
