page-user-register-auth-info {
  ion-content {
    background: linear-gradient(rgba(231,231,233,173), rgba(177,195,212,255));
  }
  .centerRow {
    align-items: center;
  }

  .formStyle {
    margin-top: 20px;
  }

  .inputStyle {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 25px;
    padding: 1.25rem;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .logoStyle {
    height: auto;
    width: 12rem;
  }
  .iconStyle {
    height: auto;
    font-size: 5rem;
    color: white;
    margin-top: 15rem;
  }
  .error {
    color: red;
  }
  .swipeCard {
    color: green;
  }
}
