page-user-register-final {
  ion-content {
    background: linear-gradient(rgba(231,231,233,173), rgba(177,195,212,255));
  }
  .logoStyle {
    height: auto;
    width: 10rem;
  }
  .cardStyle {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 25px;
  }
  .tagCardStyle {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 2px;
    border-radius: 25px;
  }
  .rowStyle {
    align-items: center;
  }
  .iconStyle {
    font-size: 30px;
  }
  .titleStyle {
    font-size: 25px;
    font-family: sans-serif;
  }
  .tagTitleStyle {
    font-size: 25px;
    padding-left: 10px;
  }
  .tagStyle {
    margin-top: 5px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-family: sans-serif;
    overflow: hidden;
  }
  .badgeColor {
    background: rgb(25,57,104);
  }
  .submitBtn {
    font-size: 30px;
    margin-top: 10px;
    font-family: sans-serif;
    color: rgb(225,46,82);
  }

  .pleaseWaitStyle {
    color: white;
    font-family: sans-serif;
  }
}
