page-events-all {

  .funnelStyle {
    font-size: 32px;
    margin-top: 5px;
  }

.item-ios, .item-md, .item-wp {
  background-color: #E12E52;
  color: #FFFFFF;
}
// ion-card {
//    position: relative;
//    text-align: center;
//  }

 // .eventCard {
 //   padding: 10px;
 // }

 // .eventCard__paragraph {
 //  //  background-color: #E12E52;
 //   color: #ffffff;
 //   padding: 5px;
 // }
//  .eventType {
//    position: absolute;
//    z-index: -1;
//   left: 0;
//   height: 0.5em;
//   position: absolute;
//   right: 0;
//   top: 0.35em;
// }
 //
 // .eventType__paragraph{
 //   position: relative;
 // }


}

.card-background-page {

 ion-card {
   text-align: center;
   color: #ffffff;

 }

 .eventCard__heading2 {
  //  top: 52%;
   font-size: 2.0em;
   // width: 100%;
   font-weight: bold;
 }

 .eventCard__heading3 {
   font-size: 1.0em;
  //  top: 62%;
   // width: 100%;
   color: #ffffff;
 }

 .eventType__paragraph{
   font-size: 1.0rem;
   color: #ffffff;

 }


.eventCard__heading2, .eventCard__heading3, .eventType__paragraph {
  // position: absolute;
  padding-left: 10px;
  color: #FFFFFF;

}

.eventType {
   background-color: #E12E52;
   padding: 2px;
   color: #FFFFFF;
   text-transform: uppercase;
   width: 50%;
}






.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.image-container .after {
  background-color: rgba(44,53,50, .75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  color: #FFFFFF;
 }
  .imgBackgroundStyle {
    height: 15rem;
  }
  .headerColor {
    color: white;
  }

}
