// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/opensans/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/Light/OpenSans-Light.woff?v=1.1.0") format("woff");
  font-weight: 300;
  font-style: normal;
}
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/opensans/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff");
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/opensans/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/opensans/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff");
  font-weight: normal;
  font-style: italic;
}
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/opensans/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff");
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff");
  font-weight: 600;
  font-style: italic;
}
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/opensans/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff");
  font-weight: bold;
  font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/opensans/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff");
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/opensans/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff");
  font-weight: 800;
  font-style: normal;
}
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/opensans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/opensans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff");
  font-weight: 800;
  font-style: italic;
}
/* END Extrabold Italic */

* {
  font-family: 'Open Sans';
}

.defaultNavImgStyle {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}
ion-navbar {
  align-items: center;
}

.defaultImageDivCenter {
  align-items: center;
}
.defaultTagBadgeStyle {
  padding: 7px;
  margin-left: 5px;
  margin-bottom: 5px;
}


.searchBar {
  border-top: none;
  border-bottom: none;
  background: none;
}

.menuContent {
  background-color: rgb(80,143,203);
}
