<!-- Nav bar with side menu and profile. no title -->
<ion-navbar color="secondary">
  <ion-buttons left>
    <!-- This button triggers the side menu defined on the app.html file -->
    <button ion-button menuToggle>
    <ion-icon color="white" name="menu"></ion-icon>
    </button>
  </ion-buttons>
  <!-- Triggers dropdown from the portfolio icon -->
  <ion-buttons center>
    <div text-center>
        <img (click)="showPortfolioMenu($event)" class="defaultNavImgStyle" src="../../assets/icon/small_hand_logo.svg">
    </div>
  </ion-buttons>
</ion-navbar>
