page-user-register-about {
  ion-content {
    background: linear-gradient(rgba(231,231,233,173), rgba(177,195,212,255));
  }
  .logoStyle {
    height: auto;
    width: 10rem;
  }
  .inputStyle {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 25px;
    padding: 1.75;
    font-size: 1.5rem;
  }
  .aboutInputWrap {
    margin-top: 4rem;
  }
  .error {
    color: red;
  }
  .iconStyle {
    font-size: 25px;
  }
  .swipeDiv {
    margin-top: 50px;
    color: green;
  }
  .arrowIcon {
    font-size: 5rem;
    color: white;
    margin-top: 5rem;
  }
}
