

<ion-content padding>
  <ion-grid (swiperight)="swipeRightEvent(f)">
    <ion-row>
      <ion-col text-center>
        <img [navPush]="loginPage" class="logoStyle" src="../../assets/icon/small_hand_logo.svg" alt="Civicd Logo" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form #f="ngForm" class="formStyle" padding>
          <ion-input placeholder="Name" class="inputStyle" id="userName" type="text" name="userName" [(ngModel)]="name" required #userName="ngModel"></ion-input>
          <div *ngIf="!userName.valid && userName.touched">
            <p class="error">
              Name is required
            </p>
          </div>
          <div class="aboutInputWrap">
            <ion-textarea class="inputStyle" type="text" name="userAbout" [(ngModel)]="userAbout" id="userAbout" rows="7" placeholder="Tell other members about yourself..."></ion-textarea>
          </div>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 text-left>
        <ion-icon class="arrowIcon" *ngIf="!isFinal" (click)="goBack()" icon-left name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col col-6 text-right>
          <ion-icon class="arrowIcon" *ngIf="f.valid" (click)="swipeRightEvent(f)" name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
