<ion-content padding>
  <ion-grid (swiperight)="swipeRightEvent(f)">
    <ion-row>
      <ion-col text-center>
        <img [navPush]="loginPage" class="logoStyle" src="../../assets/icon/small_hand_logo.svg" alt="Civicd Logo" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form #f="ngForm" class="formStyle" padding>
          <ion-input class="inputStyle" id="userAddressOne" type="text" name="userAddressOne" [(ngModel)]="userAddressOne" required placeholder="Enter your address"></ion-input>
          <ion-input class="inputStyle" id="userAddressTwo" type="text" name="userAddressTwo" [(ngModel)]="userAddressTwo" placeholder="Apt, Suite, etc."></ion-input>
          <ion-input class="inputStyle" id="userCity" type="text" name="userCity" [(ngModel)]="userCity" required placeholder="Enter your city"></ion-input>
          <ion-input class="inputStyle" id="userState" type="text" name="userState" [(ngModel)]="userState" required placeholder="Enter your state"></ion-input>
          <ion-input class="inputStyle" id="userZip" type="number" name="userZip" [(ngModel)]="userZip" required placeholder="Enter your Zipcode"></ion-input>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 text-left>
        <ion-icon class="arrowStyle" *ngIf="!fromFinal" (click)="goBack()" name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col col-6 text-right>
          <ion-icon class="arrowStyle" *ngIf="f.valid" (click)="swipeRightEvent(f)" name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
